<%- include('partials/header'); -%>

<header>
  <div class="auth">
    <img src="/auth.png" alt="auth" />
  </div>
  <div class="headings">
    <h2>Welcome to Home Page</h2>
    <h3>Learn More languages</h3>
    <a href="/learn" class="btn">Learn More</a>
  </div>
</header>
