<%- include('partials/header'); -%>

<ul class="language">
  <li class="recipe">
    <img src="/node.png" alt="Node" />
    <h4>Learn Node</h4>
    <p>Node is used for backend development</p>
  </li>
  <li class="language">
    <img src="/react.png" alt="React" />
    <h4>Learn React</h4>
    <p>React is used for front-end development</p>
  </li>
  <li class="language">
    <img src="/mongodb.png" alt="MongoDB" />
    <h4>Learn MongoDB</h4>
    <p>Used to Store data</p>
  </li>
</ul>
